.left_bet_panel {
  /* border: 1px solid red; */
  width: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text_game {
  color: #fff;
  font-size: 11px;
}

.left_bet_panel {
  padding: 6px 8px;
}

.time_inc {
  color: #fff;
  font-size: 14px;
}

.inc_dec {
  width: 100%;
  height: 28px;
  border-radius: 16px;
  background: rgba(21, 21, 22, 1);
  display: flex;
  align-items: center;
  padding-inline: 2px;
  justify-content: space-between;
}

.btn_in {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(47, 47, 47, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_section {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background: rgba(21, 21, 22, 1);
}

.under_top {
  height: 50%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(47, 47, 47, 1);
  display: flex;
  align-items: center;
}

.line_mi {
  height: 80%;
  border: 1px solid rgba(21, 21, 22, 0.45);
}

.line_mi_b {
  height: 80%;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.under_text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under_bottom {
  display: flex;
  align-items: center;
  height: 50%;
}

.input-click-btn {
  background-color: #141516;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  height: 30px;
  padding: 0rem 2px 0;
  justify-content: space-between;
}

.minius_btn {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;

  background: url("../../assets/minus (2) 1.svg") no-repeat center;
  background-size: 100% 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  /* cursor: pointer; */
}

.plus_btn {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;

  background: url("../../assets/plus-button 1.svg") no-repeat center;
  background-size: 100% 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  /* cursor: pointer; */
}

.input-value {
  width: calc(100% - 35px);
  height: 100%;
  background-color: transparent;
  color: #fff;
  font-weight: 600 !important;
  font-size: 14px;
  border: none !important;
  outline: none !important;
  text-align: center;
}

.yes_no_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.yes_btn {
  width: 48%;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(180deg, #28a909 0%, #1e4e12 100%) padding-box,
    linear-gradient(180deg, #88cf77 0%, #5eb952 100%) border-box;

  border: 1px solid transparent;
}
