.modal-backdrop-history {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.bet_history_model {
  width: 98%;
  height: 190px;
  margin-top: 2rem;
  background: #1b1c1d;
  border-radius: 5px;
  /* border: 1px solid rgba(54, 62, 80, 1); */
}

.bet_history_hrader {
  height: 36px;
  background: #2c2d30;
  /* border-bottom: 1px solid rgba(54, 62, 80, 1); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(211, 211, 211, 1);
  font-weight: 600;
  font-size: 14px;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cross_icon {
  position: absolute;
  right: 1rem;
}

.middle-content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* font-family: Montserrat-SemiBold; */
  font-weight: bold;
  height: 152px;
  justify-content: space-between;
  overflow: scroll;
  text-align: center;
}

.middle-content table {
  border-collapse: collapse;
  font-size: 16px;
  /* height: 100%; */
  overflow: auto;
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

/* .middle-content tr {
  border-bottom: 1px solid #cf8d2e;
} */

.middle-content th {
  font-size: 14px;
  padding: 5px;
  height: 30px;
  font-weight: 500;
  width: 20%;
  color: rgba(211, 211, 211, 1);
  background-color: #1b1c1d;
  text-align: center;
  /* text-transform: uppercase; */
}

.middle-content td {
  font-size: 12px;
  padding: 5px;
  width: 20%;
  height: 30px;
  color: #fff;
  font-weight: 400;
  background: #1b1c1d;
}

.r_container {
  padding-inline: 1rem;
}

.r_text_top {
  font-weight: 400;
  font-size: 14px;
  color: rgba(211, 211, 211, 1);
  padding-block: 7px;
}

.r_limits_section {
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
}

.bottom_border {
  border-bottom: 0.5px solid rgba(54, 62, 80, 1);
}

.r_limit_text {
  font-weight: 600;
  font-size: 14px;
  color: rgba(127, 140, 167, 1);
}

.r-limit_money {
  padding-inline: 6px;
  font-weight: 600;
  font-size: 12px;
  padding-block: 2px;
  border-radius: 20px;
  background: rgba(65, 72, 91, 1);
  color: rgba(211, 211, 211, 1);
}

.rules_container {
  padding-inline: 1rem;
  padding-block: 8px;
  height: 140px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rules_container ul {
  padding-left: 1rem;
}

.rules_container li {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}

.odd_color {
  background-color: rgb(16, 17, 18);
}

.middle-content thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.payout_table {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* font-family: Montserrat-SemiBold; */
  font-weight: bold;
  /* height: 200px; */
  justify-content: space-between;
  /* overflow: scroll; */
  text-align: center;
}

.payout_table table {
  border-collapse: collapse;
  font-size: 16px;
  /* height: 100%; */
  overflow: auto;
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

/* .middle-content tr {
  border-bottom: 1px solid #cf8d2e;
} */

.payout_table th {
  font-size: 12px;
  padding: 5px;
  height: 30px;
  font-weight: 500;
  /* width: 33.33%; */
  color: rgba(211, 211, 211, 1);
  background-color: rgba(31, 36, 50, 1);
  text-align: center;
  /* text-transform: uppercase; */
  border: 1px solid #ffffff65;
}

.payout_table td {
  font-size: 10px;
  padding: 5px;
  /* width: 20%; */
  height: 30px;
  color: #fff;
  font-weight: 400;
  background: rgba(44, 50, 66, 1);
  border: 1px solid #ffffff65;
}

.payout_text {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.pout_con {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.result-card {
  opacity: 1;
  transform: none;
  position: absolute;
  transition:
    opacity 196ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 131ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 65px;
  left: 2rem;
  right: 2rem;
  transform-origin: 30.5417px 141.896px;
}

.MuiPaper-root {
  border-radius: 10px;
  min-height: 52vh;
  min-width: 80%;
  background-color: #fff;
  z-index: 99999;
}

.superOverRR-popover {
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
  width: 100%;
}

.result-div {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.round-id {
  align-items: center;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 20%;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.title-div {
  align-items: flex-start;
  color: #202020;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 100%;
  width: 20%;
}

.title {
  font-size: 10px;
}

.cards-div {
  align-items: center;
  background: linear-gradient(180deg, #464646, #0f0f0f);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: 75%;
}

.cardsss {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result_sum_n {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

.winner-card {
  background: #1e6617;
  border-radius: 3px;
  align-items: center;
  /* background: hsla(0, 0%, 93%, 0.1);
  border-radius: 3px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

.card-s {
  height: 80%;
  width: 25%;
  border-radius: 4.31472px;
  box-shadow: 0 1.07868px 7.33503px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}

.hand_d {
  font-weight: 600;
  color: #fff;
  font-size: 12px;
}

.hand_r {
  font-weight: 300;
  color: #fff;
  font-size: 12px;
}

.margin_bottom {
  margin-bottom: 6px;
}
