.multiplier {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  font-size: 18px;
  min-width: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1px;
  font-weight: 800;
  transform: translate(-50%, -50%);
}

.waiting-container {
  text-align: center;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  gap: 6px;
  width: 100%;
  position: relative;
  align-items: center;
}

.flew {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  transform: translateY(50px);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}

.flew.show {
  opacity: 1;
  transform: translateY(0);
}

.more-slot {
  width: 40px;
  /* height: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  bottom: 1.5rem;
}

.wait {
  font-size: 10px;
  color: white;
}

.progress-wrap {
  width: 120px;
  height: 6px;
  background: #1b1c1d;
  border-radius: 8px;
}
