@media (max-width: 720px) {
  .header {
    /* background: rgba(31, 36, 50, 1); */
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    /* margin-bottom: 5px; */
    position: relative;
    width: 100%;
    padding: 6px 4px;
    z-index: 101;
  }

  .header_img {
    align-items: center;
    cursor: pointer;
    display: flex;
    /* height: 20px; */
    justify-content: center;
    /* padding: 5px; */
    width: 30px;
  }

  .home-icon {
    fill: #cf8d2e;
    font-size: 26px;
  }

  .header_name {
    align-items: center;
    bottom: 0;
    color: #fff;
    display: flex;
    /* font-family: Montserrat-SemiBold; */
    font-weight: bold;
    font-size: 14px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    /* width: -webkit-fit-content;
        width: -moz-fit-content; */
    width: fit-content;
  }

   .center-part {
    position: absolute;
    z-index: 10;
    left: 45%;
    top: 1.85rem;
  }
}
