@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  user-select: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.middle-content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 720px) {
  .main-container {
    background-color: black;
    /* border: 1px solid rgba(207, 141, 46, 0.35); */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: -webkit-fill-available;
    padding: 0px 0px 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .game-body {
    background-color: initial;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .game-inner-body {
    background-color: var(--black-color);
    /* border: 1px solid rgba(207, 141, 46, 0.35); */
    border-radius: 6px;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: -webkit-fill-available;
    /* padding: 5px 10px 0; */
    position: absolute;
    width: 100%;
  }

  .game_section {
    width: 100%;
    height: 200px;
    background: rgba(27, 27, 27, 1);
  }
}

.game_section {
  display: flex;
}

.right_canvas {
  width: calc(100% - 140px) !important;
}

.canvas_section {
  position: relative;
  height: 88%;
}

.max_odds {
  height: 22px;
  /* border: 1px solid red; */
  /* width: calc(100% - 160px); */
  padding: 1px;
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 2px;
  overflow-y: auto;
}

.max-odd {
  padding: 2px 8px;
  border-radius: 1rem;
  font-size: 10px;
  display: inline-block;
  height: 18px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  opacity: 0.6;
  background-color: #00000080;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.slide-in-zoom {
  animation: slideInZoom 0.5s ease-out;
}

.menu_icon {
  position: absolute;
  right: 1px;
  top: 2.4rem;
  background: rgba(27, 27, 27, 1);
  padding-inline: 6px;
  padding-bottom: 3px;
}

.menu_model {
  background-color: #2c2d30;
  border-radius: 10px;
  padding: 0;
  position: absolute;
  transition: all 0.4s linear;
  z-index: 1000;
  height: 170px;
  overflow-y: auto;
  right: 0px;
  top: 3.9rem;
  width: 206px;
}

.menu-dropdown-list {
  align-items: center;
  background-color: #1b1c1d;
  border-bottom: 1.5px solid #2c2d30;
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 7px 10px;
}

.menu-dropdown-item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.aviator-heading h6 {
  color: #fff;
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 12px;
}

@keyframes slideInZoom {
  0% {
    transform: translateX(-30%) scale(0.7);
    opacity: 0;
  }

  60% {
    transform: translateX(10%) scale(1.7);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
